
*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	box-sizing: border-box;

}

.child {
	
	font: 100px/70px "Libre Franklin";
	font-size: 4rem;
	font-weight: 900;
	color: white;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;

    z-index: 100;
    position: absolute;
    top: 30%;
    left: 10%;
    letter-spacing: -5px;
    text-shadow: 0 0 5px #fff;
    color: #fff6;
}

svg {
	
	width: 100%;
	height: 100%;
	z-index: 0;
}