@import url("https://fonts.googleapis.com/css?family=Heebo:100");
@import url("https://fonts.googleapis.com/css?family=Libre+Franklin:400,700&subset=latin"); 


html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Heebo", sans-serif;
}

html, body {
    height: 100%;
}

*,
*:after,
*:before {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
	/* border: 1px solid red; */
}

body {
	margin: 0;
	overflow: hidden;
}

.container {

	display: flex;
	justify-content: center;
	align-items: center;

	position: absolute;
	right: 15%;
	bottom: 1%;
}

.hided {
	display: none;
}