nav {

    height: 15vh;
    padding: 2vw;
    
    display: flex;
    justify-content: space-between;

    background: transparent;
    position: fixed;
}

nav .left {

}

nav .left img {

    height: 100%;
}

nav .right {

}